@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-bold_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-bold_1-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-light_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-light_1-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-lightitalic_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-lightitalic_1-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: italic;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


body {
    font-family: "roboto", Helvetica, sans-serif;
    

 }

.wrapper {
    position: relative;
    height: 1937px;
    width: 1100px;
    margin: 0 auto;
    
}

.header {
    height: 77px;
    width: 100%;
    background-color: #4b73b5;
    margin-bottom: 13px;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    position: absolute;
    top: 21px;
    left: 21px;
}

.contacts {
    position: absolute;
    top: 20px;
    right: 21px;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 21px;
    margin-bottom: 4px;
}

.contacts__work-time {
    text-decoration: underline;
    font-style: normal;
    color: white;
    font-size: 14px;
    opacity: 0.7;
}

.page-content {
    margin: 0 auto;
    float: right;
    width: 900px;
    height: 1790px;
}

.main-logo {
    position: relative;
    height: 300px;
    width: 1007px;
    /* left: 40px; */
    /* background-image: url(./air_planet_png/main_logo/ground.png);
    background-size: 140% 170%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-top: 40px; */
}

/* .main-logo__text {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #221f1f;
    opacity: 0.4;
    font-size: 140px;
    text-align: right;

} */
.main-logo__plane {
    position: absolute;
}

.tariff {
    width: 828px;
    height: 533px;
    margin-bottom: 60px;
}
.tariff__block  {
    display: block;
    height: 456px;
    
}



.tariff h2{
    font-size: 49px;
    margin-bottom: 20px;
}



.tariff__label {
    position: relative;
    background-color: #4b73b5;
    width: 68px;
    height: 68px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 34px;
    
}

.tariff__label-ground {
    height: 68px;
}

.tariff__label-icon {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 
}

.tariff__name {
    height: 70px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}

/* .tariff__name-head {

} */

.tariff__type {
    display: inline-block;
    margin-right: 20px;
    width: 250px;
    height: 416px;
    padding-top: 40px;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid #e8e9ed; */
}

.tariff__block > li:nth-child(2)  {
     
    border: 1px solid #e8e9ed;
}


.tariff__description {
    /* display: inline; */
    /* font-size: 18px; */
    line-height: 30px;
    height: 310px;
}

.tariff__offer ul {
    margin-bottom: 35px;
    text-align: left;
    
}

li.tariff__services {
    margin-left: 40px;
    list-style-type: disc;
    text-align: left;
    display: list-item;
    line-height: 30px;
    width: auto;
}

.tariff__price {
    display: block;
    margin-top: 25px;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -1.07px;;
}
.tariff__price-curr {
    font-size: 32px;
}

.news {
    height: 832px;
    width: 807px;
    /* border: 1px solid black; */
    margin-bottom: 60px;
}

.news__head {
    
    font-size: 49px;
    margin-bottom: 72px;
}

.news__item {
    /* display: block; */
    width: 824px;
    height: 165px;
    margin-bottom: 60px;
    /* padding: 40px 0; */
}

.news__icon {

    position: relative;
    display: inline-block;
    /* top: 10px; */
    width: 160px;
    height: 160px;
    /* margin-left: -20px; */
}

.news__description {
    position: relative;
    display: inline-block;
    font-size: 11px;
    line-height: 30px;
    left: 20px; 
    top: 0;
    width: 652px;
    height: 165px;
    /* margin-bottom: 60px; */
}

.news__date {
    font-size: 14px;
}

.news__name {
    font-size: 21px;
}

.news__text {
    font-size: 18px;
}

.pagination {
    position: absolute;
    width: 83%;
    height: 27px;
    
    padding-left: 265px;
    
}

.pagination__display {
    display: inline-block;
    line-height: 25px;
    position: relative;
    color: #656464;
  
    width: 103px;
    height: 25px;
    font-size: 14px;
    margin-right: 20px;
    
}

.pagination__controls {
    font-family: "roboto";
    position: relative;
    display: inline-block;
    width: 257px;
    text-align: center;
    height: 25px;

    
}

.pagination__controls a {
    color: black;
    font-weight: bold;
    font-family: "roboto";
    text-decoration: none;
    position: relative;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    height: 25px;

    /* border: 1px solid black; */
}

.pagination__prev {
    border: 0;
    display: inline-block;
    position: relative;
    
    /* margin-right: 15px; */
    width: 25px;
    height: 25px;

}


.pagination__next  {
    border: 0;
    display: inline-block;
    position: relative;
    
    width: 25px;
    height: 25px;
    /* top: 0; */
    /* left: 0; */
}

.pagination__controls ul {
    display: inline-block;
    position: relative;
    
    width: 199px;
}

.pagination__controls li {
    display: inline-block;
    
    width: 25px;
    height: 25px;
    /* margin-right: 16px; */
}

.sidebar {
    float: left;
    width: 190px;
    height: 1760px;
    /* padding-left: 10px; */
}

.menu {
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-left: 18px;
    width: 110px;
    height: 116px;
}

.menu__item {
    height: 18px;
    margin-bottom: 33px;
   
}

.menu__link {
    display: inline-block;
    width: 110px;
    height: 20px;
    text-decoration: none;
    color: #4b73b5;
    font-weight: bold;
    text-transform: uppercase;
}

.menu__icon {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
}

.menu__title {
    position: relative;
    display: inline-block;
    width: 60px;
    bottom: 4px;
    
    
    
}

.footer {
    position: absolute;
    /* height: 4%; */
    width: 100%;
    /* padding: 10px; */
    background-color: #4b73b5;
    bottom: 0;
    color: white;
    
}

.footer__description {
    position: relative;
    display: inline-block;
    top: 10px;
    /* margin-top: 5px; */
    /* margin-right: 20px; */
    width: 33%;
    height: 70%;
    font-size: 0.7em;
}

.footer__logo  {
    position: relative;
    display: inline-block;
    top: 10px;
    width: 33%;
    height: 60px;
    text-align: center;
    
    /* margin-right: 20px; */
}

.footer__social {
    top:10px;
    display: inline-block;
    position: relative;
    width: 33%;
    left: 13%;
    /* vertical-align: middle; */
}

.footer__social ul {
    margin: 0;
    padding: 0;
}




.footer__social li {
    display: inline-block;
    position: relative;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    

}

.footer__social img {
    vertical-align: middle;
}

.footer__social h3 {
    /* padding: 0; */
    margin: 0;
    /* margin-top: 20px; */
    /* margin-right: 20px; */
    /* margin-bottom: 0; */
}



