@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-bold_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-bold_1-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-light_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-light_1-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./air_planet_fonts/roboto-lightitalic_1-webfont.woff2") format("woff2"),
         url("./air_planet_fonts/roboto-lightitalic_1-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: italic;
}

body {
    font-family: "roboto", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }

.wrapper {
    position: relative;
    height: 1937px;
}

.header {
    height: 77px;
    background-color: #4b73b5;
    margin-bottom: 13px;
}

.logo .contacts {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    position: absolute;
    top: 21px;
    left: 21px;
}

.contacts {
    position: absolute;
    top: 20px;
    right: 21px;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 21px;
    margin-bottom: 4px;
}

.contacts__work-time {
    text-decoration: underline;
    font-style: normal;
    color: white;
    font-size: 14px;
    opacity: 0.7;
}

/* .page-content {
    float: right;
    width: 85%;
}

.main-logo {
    position: relative;
    height: 299px;
    background-image: url(./air_planet_png/main_logo/ground.png);
    background-size: 140% 170%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-top: 40px;
}

.main-logo__text {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #221f1f;
    opacity: 0.4;
    font-size: 140px;
    text-align: right;

}
.main-logo__plane {
    position: absolute;
}

/* .sidebar {
    float: left;
    width: 15%;
    height: 100%;
} */ */

/* .footer__container {
    padding-bottom: 90px;
} */

.footer {
    position: absolute;
    height: 77px;
    width: 100%;
    background-color: #4b73b5;
    bottom: 0;
}
/* .footer__logo .footer__social .footer__description {
    display: inline-block;
    position: absolute;
} */

