.pagination {
    display: flex;
    justify-content: center;
}

.pagination__display {
    position: absolute;
    line-height: 22px;
    color: #656464;
    font-size: 14px;
    margin-left: -176px;

}

.pagination__controls {
    display: flex;
    justify-content: space-between;
    font-family: "roboto";
    min-width: 212px;
    position: relative;   
    margin-left: 10px; 
    
}

.pagination__page-link {
    color: black;
    font-weight: bold;
    font-family: "roboto";
    text-decoration: none;
    font-size: 14px;
    display: block;
    line-height: 22px;
   
}

.pagination__prev, 
.pagination__next {
    /* display: inline-block; */
    
    
}

.pagination__prev-link, .pagination__next-link {
    text-decoration: none;
    color: #000;
}


.pagination__pages {
    display: flex;
    justify-content: space-between;
    min-width: 159px;
    /* position: relative; */
    
}

.pagination__page {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    min-width: 25px;
    height: 25px;

    /* min-width: 20px; */

}

.pagination__active-page {
    background-color: #4b73b5;
    border-radius: 1px;   
}

.pagination__active-page > a {
    color: white;
}
