.partners__head {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 49px;
    
    line-height: 40px;
}

.partners__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.partners__item {
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    width: 31%;
    margin-right: 20px;
    margin-bottom: 66px;

}

.partners__item-pic {
    display: block;
    max-width: 100%;
}