.reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    font-size: 18px;
    line-height: 30px;
    background-color: #4bb56b;
    background-image: url('../../air_planet_png/reviews/pattern_reservation.png');
    background-size: cover;
    color: #fff;
    margin-bottom: 10px;
}



