.reservation {
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 18px;
    line-height: 30px;
    background-color: #4bb56b;
    background-image: url('../../air_planet_png/reviews/pattern_reservation.png');
    background-size: cover;
    color: #fff;
    margin-bottom: 60px;
}

.reservation__link-site {
    font-weight: bold;
    color: #fff;

}

.reservation__tel {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

